
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
  
  .edit {
    margin-left: 10px;
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1; /* Ensure it appears above other content */
    position: relative;
}

.edit svg {
    width: 24px; /* Increase width for better visibility */
    height: 24px; /* Add height for consistent icon sizing */
   
}

/* profile */

.profile{
    background-color: #0f0f0f;
    color: #9e9ea7;
}

 