.footer {
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.notice {
    text-align: center;
    font-weight: bold;
}

.logo {
    display: none;
    width: 200px;
    height: auto;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    z-index: 100;
  }