.artigo {
    max-width: 800px;
    margin: 8% 8%;
    background-color: #0f0f0f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cabecalho-artigo {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .titulo-artigo {
    font-size: 2em;
    margin: 0;
    color: #9e9ea7;
  }
  
  .info-artigo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
    color: #9e9ea7;
  }
  
  .data-publicacao {
    font-style: italic;
  }
  
  .autor-publicacao {
    font-weight: bold;
  }
  
  .conteudo-artigo {
    font-size: 1.1em;
    color: #9e9ea7;
  }
  
  .conteudo-artigo p {
    margin-bottom: 20px;
  }
