<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="formContainer">
        <img src="logo(1).png" alt="Logo" class="logo" />
        <br>
        <div class="inputContainer">
            <input required="required" id="inputFieldUsername" placeholder="Username" type="text">
            <label class="usernameLabel" for="inputFieldUsername">Username</label>
            <svg width="25" height="25" class="userIcon" fill="#008000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12 10.8a3.6 3.6 0 1 0 0-7.2 3.6 3.6 0 0 0 0 7.2ZM3.6 21.6a8.4 8.4 0 0 1 16.8 0H3.6Z" clip-rule="evenodd"></path>
            </svg>
        </div>
        <br>
        <div class="inputContainer">
            <input required="required" id="inputFieldPassword" placeholder="Password" type="password">
            <label class="usernameLabel" for="inputFieldPassword">Password</label>
            <svg width="25" height="25" class="userIcon" fill="#008000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6 10.8V8.4a6 6 0 0 1 12 0v2.4a2.4 2.4 0 0 1 2.4 2.4v6a2.4 2.4 0 0 1-2.4 2.4H6a2.4 2.4 0 0 1-2.4-2.4v-6A2.4 2.4 0 0 1 6 10.8Zm9.6-2.4v2.4H8.4V8.4a3.6 3.6 0 1 1 7.2 0Z" clip-rule="evenodd"></path>
            </svg>
        </div>
        <br>
        <button class="ui-btn">
            <span>
              Log in
            </span>
          </button>
    </div>
</body>
</html>
